h1 {
  font-size: 50px;
  color: purple;
  font-family: Sans-serif;
}

h2 {
  font-family: Monospace;
  color: green;
}

p {
  text-align: center;
  text-shadow: 1px 111px 1px green;
  font-size: 20px;
}
